 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 p,
 blockquote,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 pre,
 form,
 fieldset,
 legend,
 button,
 input,
 textarea,
 th,
 td {
     margin: 0;
     padding: 0
 }
 
 html {
     color: #000;
     overflow-y: scroll;
     overflow: -moz-scrollbars
 }
 
 body,
 button,
 input,
 select,
 textarea {
     font: 12px arial
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: 100%
 }
 
 em {
     font-style: normal
 }
 
 small {
     font-size: 12px
 }
 
 ul,
 ol {
     list-style: none
 }
 
 a {
     text-decoration: none
 }
 
 a:hover {
     text-decoration: underline
 }
 
 legend {
     color: #000
 }
 
 fieldset,
 img {
     border: 0
 }
 
 button,
 input,
 select,
 textarea {
     font-size: 100%
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0
 }
 
 img {
     -ms-interpolation-mode: bicubic
 }
 
 textarea {
     resize: vertical
 }
 
 .left {
     float: left
 }
 
 .right {
     float: right
 }
 
 .overflow {
     overflow: hidden
 }
 
 .hide {
     display: none
 }
 
 .block {
     display: block
 }
 
 .inline {
     display: inline
 }
 
 .error {
     color: #F00;
     font-size: 12px
 }
 
 label,
 button {
     cursor: pointer
 }
 
 .clearfix:after {
     content: '\20';
     display: block;
     height: 0;
     clear: both
 }
 
 .clearfix {
     zoom: 1
 }
 
 .clear {
     clear: both;
     height: 0;
     line-height: 0;
     font-size: 0;
     visibility: hidden;
     overflow: hidden
 }
 
 .wordwrap {
     word-break: break-all;
     word-wrap: break-word
 }
 
 .s-yahei {
     font-family: arial, 'Microsoft Yahei', '微软雅黑'
 }
 
 pre.wordwrap {
     white-space: pre-wrap
 }
 
 body {
     text-align: center
 }
 
 body,
 form {
     position: relative;
     z-index: 0
 }
 
 td {
     text-align: left
 }
 
 img {
     border: 0
 }
 
 body {
     background: url('../img/1.jpg?__sprite') center center no-repeat;
 }
 
 .divclearfloat {
     clear: both;
 }
 
 .top {
     height: 32px;
     background-image: linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
     width: 100%;
     min-width: 1000px;
     color: #fff;
 }
 
 .top ul {
     float: right;
 }
 
 .top ul li {
     float: left;
     width: 50px;
     list-style: none;
     height: 32px;
     line-height: 32px;
 }
 
 .top-left {
     float: left;
 }
 
 .top-left span {
     height: 32px;
     font: 12px arial;
     display: inline-block;
     vertical-align: middle;
     line-height: 32px;
 }
 
 .top a {
     color: #fff;
 }
 
 .top ul li a {
     font-size: 13px;
     font-weight: bold;
 }
 
 .top ul li:last-child {
     width: 86px;
     font-size: 13px;
     text-align: center;
     overflow: hidden;
     text-decoration: none;
 }
 
 .top ul li:last-child a {
     font-weight: normal;
 }
 
 .search {
     height: 200px
 }
 
 .search-divcenter {
     width: 641px;
     margin: 0 auto;
 }
 
 .search-log {
     width: 270px;
     margin: 0 auto;
 }
 
 .search-log img {
     width: 270px;
     height: 129px;
 }
 
 .search-2 span {
     display: inline-block;
 }
 
 .search-2 {
     width: 533px;
     height: 40px;
     background-color: #fff;
     float: left;
     position: relative;
     text-align: left;
 }
 
 .search-2 span:nth-child(2) {
     background: url('../img/soutu_icons_sample.png?__sprite') -229px 0 no-repeat;
     width: 18px;
     height: 16px;
     position: absolute;
     top: 50%;
     margin-top: -8px;
 }
 
 .search-3 {
     float: left;
     width: 104px;
     height: 40px;
     line-height: 40px;
     background-color: #38f;
 }
 
 .search-2 input {
     height: 16px;
     padding: 10px 0px;
     width: 500px;
     border: 0px;
 }
 
 .divtab-center {
     width: 895px;
     margin: 0 auto;
     background-color: #fff;
 }
 
 .divtab {
     margin-top: 30px;
 }
 
 .divtab-1 {
     border-bottom: 1px solid #e9e9e9;
     height: 40px;
 }
 
 .divtab-1 li {
     float: left;
     width: 80px;
     height: 39px;
     line-height: 39px;
     font-size: 15px
 }
 
 .divtab-1 li:hover {
     font-weight: bold;
     background-color: #e9e9e9;
 }
 
 .divclassright {
     float: right;
 }
 
 .divclassright ul li {
     width: 145px;
     height: 34px;
 }
 
 .divfloatleft {
     float: left;
 }
 /****************************************/
 
 .divleft {
     text-align: left;
     height: 30px;
     line-height: 30px;
     font-size: 15px;
     font-weight: bold;
 }
 
 .span-1 {
     border: 5px solid #666;
     display: inline-block;
     width: 0;
     height: 0;
     border-bottom: 0px;
     border-right-color: transparent;
     border-left-color: transparent;
     margin-left: 10px
 }
 
 .ul-1 li {
     float: left;
     font-size: 15px;
     width: 160px;
     height: 43px;
 }
 
 .ul-1 li:nth-child(1) span {
     width: 16px;
     height: 16px;
     background: url('../img/95486.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(2) span {
     width: 16px;
     height: 16px;
     background: url('../img/95487.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(3) span {
     width: 16px;
     height: 16px;
     background: url('../img/95488.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(4) span {
     width: 16px;
     height: 16px;
     background: url('../img/95489.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(5) span {
     width: 16px;
     height: 16px;
     background: url('../img/95490.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(6) span {
     width: 16px;
     height: 16px;
     background: url('../img/95475.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(7) span {
     width: 16px;
     height: 16px;
     background: url('../img/95499.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(8) span {
     width: 16px;
     height: 16px;
     background: url('../img/95502.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(9) span {
     width: 16px;
     height: 16px;
     background: url('../img/95500.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .ul-1 li:nth-child(10) span {
     width: 16px;
     height: 16px;
     background: url('../img/7991.png?__sprite') no-repeat center center;
     display: inline-block;
 }
 
 .divclass {
     height: 363px;
     background: #fff;
     display: none;
     box-sizing: border-box;
 }
 /****************************/
 
 .line-2 {
     border-bottom: 1px solid #e9e9e9;
     display: inline-block;
     width: 147px;
     height: 1px;
 }
 
 .txt-2 {
     font-size: 13px;
     color: rgba(0, 0, 0, .4);
     padding-top: 15px;
     display: inline-block;
     height: 30px;
 }
 
 .divclass-2-1 {
     width: 538px;
     height: 146px;
     border-bottom: 1px solid rgba(226, 226, 226, .9);
 }
 
 .divclass-2-1 h3 {
     text-align: left;
     height: 21px;
     font-size: 18px;
     float: left;
     width: 300px;
     display: block;
     margin-left: 15px;
     margin-top: 15px;
 }
 
 .divclass-2-1 img {
     float: right;
     width: 176px;
     height: 106px;
 }
 
 .divclassright {
     float: right;
     width: 300px;
 }
 
 .divtableft {
     float: left;
 }
 
 .txt-2-1 {
     text-align: left;
     height: 50px;
     width: 100%;
     display: block;
     padding-top: 90px;
     padding-left: 20px;
     line-height: 15px;
     font-size: 14px;
     color: rgba(0, 0, 0, 0.5);
     box-sizing: border-box;
 }
 
 .divclassright h3 {
     text-align: left;
     height: 30px;
     line-height: 30px
 }
 
 .divclassright ul {
     float: left;
     margin-left: 5px;
     width: 120px;
 }
 
 .divclassright ul li {
     list-style: disc;
     text-align: left;
 }
 /****************************/
 
 .divclass-3 h3 {
     height: 30px;
     line-height: 30px;
     text-align: left;
     margin-left: 10px;
     font-size: 15px;
     margin-bottom: 20px;
 }
 
 .ul-3 li {
     float: left;
     width: 128px;
     height: 60px;
     margin-right: 15px;
     font-size: 15px;
 }
 
 .ul-3 li:nth-child(1) span {
     background: url('../img/9483.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(2) span {
     background: url('../img/95541.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(3) span {
     background: url('../img/95780.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(4) span {
     background: url('../img/95537.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(5) span {
     background: url('../img/95693.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(6) span {
     background: url('../img/95517.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(7) span {
     background: url('../img/6000.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(8) span {
     background: url('../img/95487.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(9) span {
     background: url('../img/95753.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(10) span {
     background: url('../img/200001.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(11) span {
     background: url('../img/95511.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(12) span {
     background: url('../img/95502.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(13) span {
     background: url('../img/81407.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(14) span {
     background: url('../img/95489.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(15) span {
     background: url('../img/95504.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(16) span {
     background: url('../img/95510.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(17) span {
     background: url('../img/95488.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(18) span {
     background: url('../img/7591.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(19) span {
     background: url('../img/95497.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(20) span {
     background: url('../img/95512.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(21) span {
     background: url('../img/6000.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(22) span {
     background: url('../img/95529.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(23) span {
     background: url('../img/7656.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 
 .ul-3 li:nth-child(24) span {
     background: url('../img/9321.png?__sprite') no-repeat center center;
     display: inline-block;
     height: 16px;
     width: 16px;
 }
 /****************************************************/
 /*
 .divclass-4 {
     margin: 25px 10px;
 }*/
 
 .divtxtleft {
     text-align: left;
 }
 
 .divtxtcenter {
     text-align: center;
     font-size: 13px;
     color: #999;
     margin-top: 6px;
 }
 
 .divclass-4-txt {
     width: 179px;
 }
 
 .divclass-4-div {
     margin-right: 10px;
 }
 /*********************************************/
 /*
 .divclass-5 {
     margin-top: 21px;
 }*/
 
 .divclass-5 img {
     width: 195px;
     height: 265px;
 }
 
 .divclass-5-div {
     margin-left: 25px;
 }
 
 .divclass-5-txt {
     position: absolute;
     background-color: #fff;
     margin-top: -80px;
     margin-left: 10px;
 }
 
 .divclass-5-txt p {
     height: 34px;
     line-height: 34px;
     width: 175px;
     text-align: center;
     border: 1px solid #e9e9e
 }
 
 .divclass-5-txt-1 {
     border-bottom: 1px solid #e9e9e9;
 }
 
 .divclass-5-txt-1 p:first-child {
     font-size: 14px;
     color: #000;
     font-weight: bold;
     text-align: left;
 }
 
 .divclass-5-txt-1 p:nth-child(2) {
     font-size: 14px;
     color: #808080;
     margin: 6px 0 11px;
     text-align: left;
 }
 
 .divclass-5-txt-1 p:last-child {
     font-size: 12px;
     color: #0771fb;
     text-align: left;
 }
 
 .divclass-5-txt-2 {
     margin-top: 15px;
 }
 
 .divclass-5-txt-2 h3 {
     font-size: 14px;
     color: #000;
     height: 16px;
     font-weight: bold;
     text-align: left;
 }
 
 .divclass-5-ul {
     width: 200px;
 }
 
 .divclass-5-ul li {
     display: inline-block;
     margin: 14px 0 0;
     color: #666;
     width: 97.5px;
     font-size: 14px;
     list-style: square;
     vertical-align: top;
     float: left;
     text-align: left;
 }
 
 .divclass-5-ul li a {
     text-align: left;
     color: #666;
 }
 
 .divclass-5-ul li:last-child a {
     font-size: 12px;
     color: #0771fb;
 }
 /****************************************************************/
 
 .divmore {
     position: absolute;
     right: 0px;
     top: 0px;
     width: 86px;
     background: #fff;
     height: 100%;
     display: none;
     z-index: 99;
 }
 
 .divmore ul {
     border-top: 1px solid #e9e9e9;
 }
 
 .divmore ul li {
     height: 76px;
     width: 66px;
     border-bottom: 1px solid #e9e9e9;
     margin-top: 10px;
     margin: 0 auto;
 }
 
 .moreproductclass {
     background: #398bfb;
     border-bottom: 1px solid #398bfb;
     font-weight: bold;
 }
 
 .moreproductclass a {
     font-weight: bold;
 }
 
 .mouseenter {
     background-color: #fff;
     border: 0;
 }
 
 .mouseenter a {
     color: #000;
     font-weight: normal;
 }
 
 .divactive {
     display: block;
 }
 
 .footer-txt {
     color: #fff;
 }
 
 .footer-txt a {
     color: #fff;
 }
 
 .footer {
     margin-top: 20px;
 }
 
 .divmore ul li:first-child {
     height: 38px;
     line-height: 38px;
 }
 
 .divclass-1 {
     padding-top: 15px;
 }
 
 .hfs{
     display: block;
 }
 .hfh
 {
 display: none;

 }

 #hf i {
     width: 20px;
     height:20px;
   
 }
 
 #hf i:nth-child(1) {
     background-color: #ff9983;
 }
 
 #hf i:nth-child(2) {
     background-color: #452133;
 }
 
 #hf i:nth-child(3) {
     background-color: #f2e2c2;
 }

.divset{
position: absolute;
right: 30px; 
}